select {
    display: block;
    width: 100%;
    font-size: 18px;
    border-radius: 4px;
    padding: 10px;
    background: #e9e8ec;
}

.app {
    margin: 60px auto;
    max-width: 800px;
}

.container-fluid {
    max-width: 720px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #dbd8e3;
    box-shadow: 10px 10px 15px #b1aeb9;
    font-family: 'Crimson Text', serif;
}

.heading {
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-bottom: 25px;
}

.cities {
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
    padding: 30px 0;
    border-bottom: 1px solid #352f44;
}

.place-name {
    font-size: 40px;
    font-weight: 600;
}

.date {
    font-size: 18px;
    margin-top: -15px;
    opacity: 0.7;
}

.time {
    font-size: 50px;
    font-weight: 600;
}

.time small {
    font-size: 20px;
}

.homepage {
    text-decoration: none;
    text-align: center;
    justify-content: center;
}

.links {
    text-decoration: none;
    text-align: center;
}
